<div id="<%= dom_id fee %>">
  <p>
    <strong>Rollno:</strong>
    <%= fee.rollno %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= fee.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= fee.status %>
  </p>

</div>
